<configuration>

	<appender name="cssbox" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-4relative %-5level %-25logger{1} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.fit.cssbox.layout" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="org.fit.cssbox.test" additivity="false">
		<level value="info" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="org.fit.cssbox.testsuite" additivity="false">
		<level value="info" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="test" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="cz.vutbr.web.css" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="cz.vutbr.web.csskit" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="cz.vutbr.web.csskit.antlr" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="cz.vutbr.web.domassign" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<logger name="cz.vutbr.web.domassign.DeclarationTransformer" additivity="false">
		<level value="error" />
		<appender-ref ref="cssbox" />
	</logger>

	<root>
		<appender-ref ref="cssbox" />
	</root>

</configuration>
